<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*
        bootstrapを適用
        * ASP.NET MVCで生成されるHTMLはbootstrapを使用することを想定した作りになっているため、特別なことをしなくてもモダンなレイアウトに整形される。
    *@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
